
/*navigation*/

h2 {
    margin-left: 20px;
}

#header-nav {
    background-color: aqua;
    /* margin: auto; */

}

.container-fluid {
    background-color: aquamarine;
    box-sizing: border-box;
}

/* div.row {
    display: grid;
} */

/* <!-- <img src="http://res.cloudinary.com/simpleview/image/upload/v1470836048/clients/norway/naeroyfjorden_fjord_norway_2_1_001b9127-14ad-4b3d-99b6-29d8b3aae412.jpg"> --> */
    /*mobile.col-xs-12  */
@media (min-width: col-xs-max){
    .col-xs-12
}

/*tablet.col-sm-6 */
@media (min-width: col-sm-min) and (max-width: col-sm-max){
    .col-sm-6    
}

/* desktop.col-md-6*/
@media (min-width: col-md-min) and (max-width: @screen-md-max){
    .col-md-6
}

#col1 {
    background-color: blue;
}

#col2 { 
    background-color: pink;
}

#col3 {
    background-color: purple;
}
